@font-face {
  font-family: 'lato-regular';
  src: url("../../assets/fonts/Lato-Regular.woff2") format("woff2"), url("../../assets/fonts/Lato-Regular.woff") format("woff"), url("../../assets/fonts/Lato-Regular.eot") format("eot"), url("../../assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'lato-bold';
  src: url("../../assets/fonts/Lato-Bold.woff2") format("woff2"), url("../../assets/fonts/Lato-Bold.woff") format("woff"), url("../../assets/fonts/Lato-Bold.eot") format("eot"), url("../../assets/fonts/Lato-Bold.ttf") format("truetype");
}