/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */

@import "bootstrap.css";

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

$mainFont: 'Gotham', 'Helvetica';

$headingFont: 'Gotham', 'Helvetica', 'Arial', sans-serif;

@font-face {
    font-family: 'Gotham';
    src: url('../../lib/font/gotham.eot');
    src: url('../../lib/font/gotham.eot?#iefix') format('embedded-opentype'),
         url('../../lib/font/gotham.woff') format('woff'),
         url('../../lib/font/gotham.ttf') format('truetype'),
         url('../../lib/font/gotham.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

// @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

.header-gcba {
  height:50px;
  padding:10px 0;
  overflow:visible;
  background-color:#FFD300;
  box-shadow:0 0 6px #000
}

.header-inner {
  padding-right:20px;
  padding-left:20px
}

.header-gcba .logo {
  float:left;
  width:172px;
  height:33px;
  background:url('../img/logo-normal.png') no-repeat center center;
}

.header-gcba h2.slogan {
  float:right;
  font-weight: bold;
  margin-top: 0.75em;
  font-size: 0.85em;
  font-size:12px;
  letter-spacing:-1px;
  color:#000;
  text-transform: uppercase;
}

.header-gcba .logo,.header-gcba h2 {
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
filter:alpha(opacity=70);
-moz-opacity:.7;
-khtml-opacity:.7;
opacity:.7
}

// Colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------



/*********************************************
 * LOGO
 *********************************************/ 

.nav {
  font-family: "Gotham-Medium", "Helvetica Neue", "Helvetica", sans-serif;
  color: white;
  position: relative;
}


.ministerio {
  display: block;
  padding: 18px;
  position: absolute;
  top: 10px;
  right: 0px;
  display: block;
  z-index: 101;
}

#first-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center !important;
  margin-bottom: 120px;
}

#first-title h1 {
  letter-spacing: -2px;
  margin-bottom: 10px;
  font-size: 45px;

  text-shadow: 0px 1px #357280,
               0px 2px #357280,
               0px 3px #357280,
               0px 4px #357280,
               0px 5px #357280,
               0px 6px #357280,
               0px 7px #357280,
               0px 8px #357280;

}

.lab {
  position: absolute;
  bottom: 140px;
  right: 0;
  text-align: right !important;
}

.lab h4 {
   display: inline-block;
   line-height: 40px;
   margin-bottom: 0px;
}

.lab h1 {
width: auto;
line-height: auto;
margin-top: 30px;
font-size: 50px;
text-shadow: 1px 1px #357280,
             2px 2px #357280,
             3px 3px #357280,
             4px 4px #357280,
             5px 5px #357280,
             6px 6px #357280,
             7px 7px #357280,
             8px 8px #357280,
             9px 9px #357280,
             10px 10px #357280;
}

.clear {
  clear: both;
  height:0;
  font-size: 1px;
  line-height: 0px;
}

.corto {
  word-break: normal;
  margin-left: 300px !important;
  width: 450px !important;
}


.lab p {
  color: rgba(255,255,255,1);
  text-align: justify;
  width: 750px;
  line-height: 34px;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: -1px;
  text-shadow: 1px 2px 1px rgba(53, 114,128, 1);
}

.lab h5,.lab h6, .lab a {
    text-shadow: 1px 2px 1px rgba(53, 114,128, 1);
}

.intro .reveal .state-background {
        background:              #4795a7 url(../../img/header-2x.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size:    cover;
        -o-background-size:      cover;
        background-size:         cover; 
}

.hackaton .reveal .state-background, .hicimos .reveal .state-background {
        background:              #4795a7 url(../../img/e.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size:    cover;
        -o-background-size:      cover;
        background-size:         cover;  
}


.quienes .reveal .state-background {
        background:              #4795a7 url(../../img/d.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size:    cover;
        -o-background-size:      cover;
        background-size:         cover;  
}

.lugar .reveal .state-background {
        background:              #4795a7 url(../../img/f.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size:    cover;
        -o-background-size:      cover;
        background-size:         cover;  
}

.well {
  padding: 20px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 20px !important;
}

.thumbnails {
  margin-left: 0px !important;
}

.thumbnails .span2 {
  width: 132px
}



.jumbotron {
  min-height: 550px;
}

.slide {
  background: #EAEAEA;
  background: rgba(255,255,255,0.4);
  display: block;
  width: 500px !important;
  min-height: 500px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

}

.slide h5 {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding-top: 25px;
  padding-right: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(53,114,128,0.5);
  width: 480px;
  height: 40px;
  text-shadow: none;

}

.slide p, .slide a {
  padding: 0px 20px;
  width: auto;
  color: rgba(40, 90,100, 1);
  text-align: justify;
  line-height: 22px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 40px;
  letter-spacing: -1px;
  text-shadow: 0px 1px 1px rgba(255, 255,255, 1);
}

.slide a {
  padding: 0;
  text-decoration: underline;
}

.slide img {
  width: 500px !important;
  height: 331px !important;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

html{
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}


::-webkit-scrollbar-thumb:vertical{width:10px;height:10px;background-color:#535353}
::-webkit-scrollbar{width:10px;height:5px;background:#000;margin-right:5px}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);



/*@font-face {
  font-family: 'icomoon';
  src:url('/assets/fonts/icomoon.eot');
  src:url('/assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

body {
color: #fff;
font-family:"Gotham", "Helvetica Neue","Helvetica", sans-serif;
/*font-family: "Helvetica Neue",HelveticaNeue,"Droid Sans",Roboto,Helvetica,sans-serif;*/
padding-top:20px;
padding-bottom:40px;
background-color:#4795a7;
background-color:rgba(71,149,167,1);
}

a:hover,
a:active , a:focus{
  outline: none !important;
}

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.jumbotron {
margin:60px 0;
text-align:center
}

.jumbotron h1 {
	font-family: "Gotham", "Helvetica Neue","Helvetica", sans-serif;
	font-size:32px;
	color: #ffffff;
	line-height:1;
	letter-spacing: -1px
}

.jumbotron .btn {
font-size:21px;
padding:14px 24px
}

.marketing {
margin:60px 0
}

.marketing p + h4 {
margin-top:28px
} 

a {
color: #262e39;
text-decoration: none;
}

header a {
color:#fff;
text-decoration:none
}

header a:hover {
color:#fff;
}

a:hover,a:focus {
color:#0B486B;
text-decoration:none
}

.text-center {
text-align:center
}

.text-left {
text-align:left
}

.text-right {
text-align:right
}


.notfound {
background: url("http://www.buenosaires.gob.ar/sites/gcaba/themes/gcba/images/404.png") no-repeat center top transparent;
padding-top: 335px;
margin: 30px 0 60px 0;
text-align: center;
}

[role=main], .main, .information {
position: relative;
padding-top: 0px;
padding-bottom: 25px;
background-color: #efefef;
}

.main:after, .main:before, [role=main]:after, [role=main]:before {
content: "";
position: absolute;
left: 0;
right: 0;
height: 7px;
background: #ffffff;
border:none;
}
.gcba-fixed-top .container {
width:940px
}

.header-gcba {
height:30px;
padding:10px 0;
overflow:visible;
background-color:#f9dd00;
*background-color:#ffbd04;
background-image:-o-linear-gradient(top,#ffe603,#ffbd04);
background-image:linear-gradient(top,#ffe603,#ffbd04);
background-image:-ms-linear-gradient(top,#ffe603,#ffbd04);
background-image:-webkit-linear-gradient(top,#ffe603,#ffbd04);
background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffe603),to(#ffbd04));
background-image:-moz-linear-gradient(top,#ffe603,#ffbd04);
background-repeat:repeat-x;
border-top:1px solid #fdfd00;
border-bottom:1px solid #ffc702;
filter:progid:dximagetransform.microsoft.gradient(enabled=false);
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffe603',endColorstr='#ffbd04',GradientType=0);
box-shadow:0 0 6px #000
}
.header-gcba:hover,.header-gcba:active,.header-gcba.active,.header-gcba.disabled,.header-gcba[disabled] {
background-color:#ffbd04;
*background-color:#d6be00
}

.header-gcba:active,.header-gcba.active {
background-color:#bda700 \9
}

.header-inner {
padding-right:20px;
padding-left:20px
}

.header-gcba .logo {
float:left;
width:172px;
height:33px;
background:url(../../img/logo.png);
background-repeat: no-repeat;
}

.header-gcba h2.slogan {
font-family:"Gotham","Helvetica Neue","Helvetica",sans-serif;
float:right;
margin-top:-4px;
font-size:15px;
letter-spacing:-1px;
color:#000
}

.header-gcba .logo,.header-gcba h2 {
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
filter:alpha(opacity=70);
-moz-opacity:.7;
-khtml-opacity:.7;
opacity:.7
}

.navbar{color:#535353;margin-bottom:0;overflow:visible;font-family: "Gotham", "Helvetica Neue","Helvetica", sans-serif; font-weight: 600;}
.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner
{
	border-width:0
}

.navbar-inverse .brand,.navbar-inverse .nav>li>a
{
	color:#fff;
	color:rgba(255,255,255,0.6);
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	-webkit-transition:color .2s ease-in-out
}

.navbar-inverse .brand:hover,.navbar-inverse .nav>li>a:hover,.navbar-inverse .brand:focus,.navbar-inverse .nav>li>a:focus
{
	color:#ffbd04
}

.navbar .nav>li>a
{
	font-size:13px;
	padding:15px 10px
}

.branding-data
{
	margin-top:100px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#000;
	display:block;
	vertical-align:middle;
	position:relative;
	height:95px;
	overflow:hidden
}

.branding-data h1
{
	font-family:"Gotham","Helvetica Neue","Helvetica",sans-serif;
	position:relative;
	color:#fff;
	font-weight:700;
	padding-top:20px;
	font-size:55px;
	letter-spacing:-2px;
	line-height:16px;
	text-align:left;
	z-index:11
}

.navbar-search
{
	padding-top:3px
}

.navbar-search .fiso-search,.navbar-search .fiso-search:focus,.navbar-search .fiso-search.focused
{
	padding:15px 10px;
	font-size:15px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}

.branding-data .description
{
	position:relative;
	z-index:11;
	margin-top:5px
}

.branding-data h4,
.branding-data h6{
  color: #ffffff;color: rgba(255,255,255,0.6); position:relative;
  padding-left:5px;font-weight:normal;font-size:14px;
  line-height:14px;display:block;color:white;padding-top:6px;z-index:11}
  .branding-data h6 {

    padding-top: 2px;

  }
.branding-data .title {
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}
.social{margin:0;padding:0;list-style:none;}
.social li{float:left;margin-right:5px;margin-top:9px}
.social li a{display:block;padding:8px;text-decoration:none;color:white;-webkit-transition:color .2s ease-in-out}
.social li a:hover{color:#ffbd04}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,
input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,
input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,
input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus,.navbar-search .fiso-search:focus,
.navbar-search .fiso-search.focused{border-color:rgba(255,213,15,0.8);
  outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);
  border-radius: 50px;
  -webkit-border-radius: 50px; 
  -moz-border-radius: 50px;
padding-left: 20px;}
.primary>:last-child,.secondary>:last-child{margin-bottom:0}
.hero{background-image: none;}
.hero:after {
  background: none;
}

.navbar{color:#535353;margin-bottom:0;overflow:visible;font-family: "Open Sans", "Helvetica Neue","Helvetica", sans-serif; font-weight: 600;}
/*.navbar-inner{min-height:40px;padding-right:20px;padding-left:20px;background-color:#313131;background-image:-moz-linear-gradient(top,#3c3c3c,#222);background-image:-ms-linear-gradient(top,#3c3c3c,#222);background-image:-webkit-gradient(linear,0 0,0 100%,from(#3c3c3c),to(#222));background-image:-webkit-linear-gradient(top,#3c3c3c,#222);background-image:-o-linear-gradient(top,#3c3c3c,#222);background-image:linear-gradient(top,#3c3c3c,#222);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#3c3c3c',endColorstr='#222222',GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1)}
*/
.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner{border-width:0}
.navbar-inverse .brand,.navbar-inverse .nav>li>a
{
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	color:rgba(255,255,255,0.6);
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	-webkit-transition:color .2s ease-in-out
}
.navbar-inverse .brand:hover,.navbar-inverse .nav>li>a:hover,.navbar-inverse .brand:focus,.navbar-inverse .nav>li>a:focus{color:#ffbd04}
.navbar .nav>li>a{font-size:13px;padding:15px 10px}
.branding-data{margin-top: 100px;padding-top:10px;padding-bottom:10px;background-color:black;display:block;vertical-align:middle;position:relative;height:95px;overflow:hidden}
.branding-data h1{font-family:"Gotham", "Helvetica Neue","Helvetica", sans-serif;position:relative;color:white; font-weight: bold; padding-top:20px;font-size:55px;letter-spacing:-2px;line-height:16px;text-align:left;z-index:11;}
.branding-data h1 a {text-decoration: none;}
.navbar-search{padding-top:3px}
.navbar-search .fiso-search,.navbar-search .fiso-search:focus,.navbar-search .fiso-search.focused{padding:15px 10px;font-size:15px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.branding-data .description{position:relative;z-index:11;margin-top:5px}
.branding-data h4,
.branding-data h6{
  color: #ffffff;color: rgba(255,255,255,0.6); position:relative;
  padding-left:5px;font-weight:normal;font-size:14px;
  line-height:14px;display:block;color:white;padding-top:6px;z-index:11}
  .branding-data h6 {

    padding-top: 2px;

  }
.branding-data .title {
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

.info-dataviz-container {position:absolute;width:100%;left:0;width:100%;top:300px;bottom: 0;}
.info-dataviz{position: absolute;bottom:30px;right:5%;margin-top:110px;background-color:rgba(255,255,255,0.1);display:block;z-index:11;color:#b0b0b0;padding:5px 15px;border:1px solid #666}
.info-dataviz h5{font-size:14px;line-height:10px;color:#00ccbe}
.info-dataviz p{font-size:11px;line-height:13px;color:#cacaca}
.info-dataviz small{display:block;font-size:10px;clear:both;color:#f1ebeb}
.social{margin:0;padding:0;list-style:none;}
.social li{float:left;margin-right:5px;margin-top:9px}
.social li a{display:block;padding:8px;text-decoration:none;color:white;-webkit-transition:color .2s ease-in-out}
.social li a:hover{color:#ffbd04}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,
input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,
input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,
input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus,.navbar-search .fiso-search:focus,
.navbar-search .fiso-search.focused{border-color:rgba(255,213,15,0.8);
  outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,213,15,0.6);
  border-radius: 50px;
  -webkit-border-radius: 50px; 
  -moz-border-radius: 50px;
padding-left: 20px;}
.container-narrow{padding-top:30px;padding-bottom:10px;margin:0 auto;margin-top:50px;max-width:960px;vertical-align:middle}




.container-narrow > hr {
margin:30px 0
}

section {
	position: relative;
}

.button {
	text-decoration: none;
	color: #fff;
	width: 30%;
	font-weight: bold !important;
	background-color: #ef413a;
	line-height: 60px !important;
	padding: 20px 70px !important;
	font-size: 24px !important;
	border: 1px solid #a73836;
	background-image: linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -o-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(237,84,84)),
		color-stop(1, rgb(239,65,58))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);

	-webkit-box-shadow: 0px 6px 0px #a73836, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 6px 0px #a73836, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 6px 0px #a73836, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.button:hover {

	color: #fff;

	background-image: linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -o-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(237,84,84)),
		color-stop(1, rgb(239,65,58))
	);
}

.button:active {

	color: #fff;

	-webkit-box-shadow: 0px 2px 0px #a73836, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #a73836, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #a73836, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

	background-image: linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -o-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(237,84,84) 0%, rgb(239,65,58) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(237,84,84)),
		color-stop(1, rgb(239,65,58))
	);
     -webkit-transform: translate(0, 4px) rotateX(20deg);  
    -moz-transform: translate(0, 4px);  
    transform: translate(0, 4px); 
}



/*3D IMAGE HOME*/

.hackaton-images {
    display: block;
    max-width: 100%;
    height: auto;
}

.date-container {
	width: 400px;
	position: absolute;
	right: 20px;
	top: 210px;
}

.date {

	background-image: url(../../img/date.png);
	background-repeat: no-repeat;
	font-size: 18px !important;
	display: block;
	width: 309px;
	height: 102px;
	color: white;
	font-weight: bold !important;
	padding-top: 16px !important;
}

.location {
	font-size: 12px !important;
	font-weight: bold !important;
	position: absolute;
	top: 51px;
	left: 15px;
}

nav {
	z-index: 1000;
}

.map {

	display: block;
	-webkit-border-radius: 12px; 
	-moz-border-radius: 12px; 
	border-radius: 12px;
}

.map h5 {
	font-size: 25px !important;
	margin-top: 10px !important;
}

.map h6 {
	font-size: 18px !important;
	margin-top: 10px !important;
}

.map a {
	font-size: 16px !important;
	color: white !important;
	line-height: 30px !important;
	text-decoration: underline;
}

.map a:hover {
	text-decoration: none;
}

.map iframe {
}

/*.draw-01 {
   background-image: url('/static/img/slide-01-draw-01.svg');
   background-repeat: no-repeat;
   background-position: center top;
   width: 500px;
   height: 575px;
   display: block;
   float: right;
   margin-right: 20px;	
   margin-top: 0px;
}
*/

section {
	margin-top: 100px;
	display: block;
	min-height: 600px;
}

.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border: none;
  display: block;
}

.page-header h1 {
	font-size: 35px;
	line-height: 1;
	text-shadow: 0 1px 0 rgba(0,0,0,.25)
}

.page-header h5 {
	padding: 0;
	margin: 0;
	line-height: 30px;
	font-size: 30px;
	font-weight: 600;
	text-shadow: 0px 1px #408a9b,
	             0px 2px #408a9b,
	             0px 3px #408a9b,
	             0px 4px #408a9b,
	             0px 5px #408a9b;
}
.page-header h6 {
	padding: 0;
	margin: 0;
	line-height: 22px;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	text-shadow: 0px 1px #408a9b,
	             0px 2px #408a9b,
	             0px 3px #408a9b;
}

.text-content h4 {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 15px;
}

.pane {
	border: 4px solid #357280;
	border: 4px solid rgba(53, 114,128, .4);
	padding: 10px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	margin-bottom: 20px;
}

.pane h3 {
	color: #f4f4f4;
	color: rgba(255, 255, 255, 1);
	padding-top: 0;
	margin-top: 0;
	line-height: 1px;
	text-shadow: 0 1px 0 rgba(0,0,0,.25)
}

.social{margin:0;padding:0;list-style:none;}
.social li{float:left;margin-right:5px;margin-top:9px}
.social li a{display:block;padding:8px;text-decoration:none;color:white;-webkit-transition:color .2s ease-in-out}
.social li a:hover{color:#ffbd04}


.footer
{

position: relative;
margin-top: -90px; /* negative value of footer height */
height: 90px;
clear:both;
padding-top:20px;
color:#fff;
}

.footer .span6 {
	margin-left: 0px;
	margin-right: 0px;
}


.footer h3 {
	font-size: 15px;
	font-weight: 500;
	line-height: 14px;
	margin-left: 30px;
	margin-right: 30px;
}

.footer a {
	color: #fff;
}

.social-container {
	width: auto;
	margin: 0 auto;
	padding-top: 15px;
}

.social-container .span5 {
	width: 510px;
}

.social-container .span3 {
	margin-left: 0px;
}

.twitter {
	padding-top: 2px;
	padding-left: 25px;
}


