mixin tooltip()
    #tbny-tooltip(style="display: none")

        #tooltip-top How is the mood determined?
        #tooltip-bottom
            span#tooltip-borough.none This playlist was dynamically generated in real-time based on the music trending in your borough, current weather and time of day.
            span#tooltip-default.none This playlist was dynamically generated in real-time based on the music trending in the city, current weather and time of day.        