mixin userInfo()
  .user-info 
    #text_1.title.alpha-0 Analyzing the<br>vibes of your<br>neighborhood...
    #text_2.title.alpha-0 The current mood of:
      div
        span#city ...
        span#info-icon
          img(src='assets/svg/info.svg')