<div ng-controller="CondicionesCtrl">
	<div id="terminos-condiciones">
		<div class="container">
		<div class="row">
			<div class="col-md-12">
			    <div class="jumbotron">
			        <h2>BASES Y CONDICIONES DEL USO DE LA HERRAMIENTA DE CAPACITACIÓN Y DIFUSIÓN ON-LINE DEL SISTEMA DE BOLETA UNICA.</h2>
			        <h3>SIMULADOR "TU SELECCIÓN ES ÚNICA"</h3>
			        <ol>
				        <li>
				        	<p>DESCRIPCIÓN: El Simulador “Tu selección es única” (en adelante “el Simulador”) es una herramienta de capacitación y difusión on-line de la mecánica del sistema de Boleta Única, creado por la DIRECCIÓN GENERAL REFORMA POLÍTICA (DGRPOL) dependiente de la Subsecretaría de Asuntos Políticos del Ministerio de Gobierno, en el marco del Programa “BA Mundial” del Gobierno de la Ciudad Autónoma de Buenos Aires.</p>
						</li>
						<li>
							<p>ESPÍRITU Y OBJETIVO: El Simulador es una instrumento de capacitación on-line  para que la gente,  realizando una votación ficticia, practique  la mecánica de utilización de los nuevos instrumentos electorales aprobados por la Ley N° 4.894, al mismo tiempo que busca un acercamiento de la población a las tecnologías 2.0.</p>
							<p>De esta manera, se busca a través del entretenimiento como herramienta didáctica, familiarizar y capacitar a los ciudadanos en el funcionamiento de la Boleta Única.</p>
							<p>El Simulador explica al ciudadano luego de que éste realice su elección,  el resultado de su voto, es decir, los errores que pueden generar su anulación, las omisiones que pueden arrojar un voto en blanco, etc.</p> 
						</li>
						<li>
							<p>UTILIZACIÓN DEL SIMULADOR: El Simulador reproduce una votación mediante el sistema de Boleta Única, en la modalidad de elecciones generales. Con relación al formato de Boleta Única utilizado, cabe aclarar que el mismo es meramente orientativo, toda vez que el definitivo se encuentra en etapa de reglamentación.</p>
							<p>En el Simulador, la votación se formulará a través de la elección de una nacionalidad para cada una de las siguientes categorías, pensadas en el marco del Programa BA Mundial: selección campeona, máximo goleador y mejor jugador. </p>
							<p>Estas categorías son las equivalentes a las que se elegirán por medio de la Boleta Única en las elecciones de 2015 en la Ciudad Autónoma de Buenos Aires, a saber: Candidatos a Jefe y Vice jefe de gobierno, Candidatos a Legisladores y Candidatos a Miembros de las Juntas Comunales.</p>
							<p>Asimismo, el nombre de cada país reemplaza el de los candidatos de cada partido político y, en los casilleros de la nacionalidad, aparece una imagen con la bandera/escudo de cada país a suerte de símbolo del partido político. </p>
							<p>En la Boleta figuran el nombre de los treinta y dos (32) países propuestos, a saber: Argentina, Australia, Brasil, Corea del Sur, Costa Rica, Estados Unidos, Irán, Italia, Japón, Holanda, Alemania, Bélgica, Colombia, Suiza, Rusia, Bosnia, Inglaterra, España, Chile, Ecuador, Honduras, Camerún, Costa de Marfil, Nigeria, Ghana, Argelia, Portugal, Francia, Croacia, Grecia, México y Uruguay. El orden de ubicación de los mismos en la Boleta Única será aleatorio, respetando lo establecido por la Ley N° 4894.</p>
							<p>Podrá utilizar la herramienta del Simulador “Tu selección es única”, toda persona que así lo desee, sin restricción alguna. </p>
							<p>El Simulador estará compuesto de varias pantallas. En una de ellas aparece representada la Boleta Única, que será utilizada por el  participante para realizar su selección. </p>
							<p>Luego de efectuada la votación, en la siguiente pantalla, el ciudadano conocerá el resultado de su elección, evidenciando de esta manera si se produjo voto válido (positivo o en blanco) o inválido en alguna o todas las categorías.</p>
							<p>El Simulador explicará esta situación y, en caso de que el participante haya cometido algún error que invalide su voto, deberá remediarlo. </p>
							<p>Una vez efectuado correctamente su voto, el ciudadano contará con la posibilidad de someter la votación realizada a la participación de un sorteo, si así lo desea, completando a tal efecto un formulario con sus datos personales y siguiendo los pasos detallados en el punto 4) de las presentes Bases y Condiciones.</p>
						</li>
						<li>
							<p>SORTEO</p>
					  
				  			<ol class="sorteo">
				  				<li>
				  					<p>Objeto del Sorteo - Organizador</p>
				  					<p>Tal como fuera señalado en el punto precedente, una vez efectuado correctamente el voto, el ciudadano contará con la posibilidad de participar de un sorteo, para lo cual deberá completar un formulario de inscripción con sus datos personales (nombre y apellido, tipo y número de documento, fecha de nacimiento, , domicilio, teléfono y dirección de e-mail).</p>
				  					<p>La DIRECCIÓN GENERAL REFORMA POLÍTICA (DGRPOL) dependiente de la Subsecretaría de Asuntos Políticos del Ministerio de Gobierno (en adelante, “el Organizador”), se compromete a restringir la utilización de estos datos al desarrollo de la presente iniciativa.</p>   
				  					<p>Se informa a los ciudadanos que, si bien podrán utilizar más de una vez el Simulador, solo podrán participar válidamente del sorteo una única vez.</p>
				  				</li>
				  			
				  				<li>
				  					<p>Participantes</p>
				  					<p>El simulador como herramienta cívica no resulta ser un concurso de pronósticos deportivos. Por tanto, no se premiará el conocimiento futbolístico sino la simple participación en el juego. En consecuencia, no será necesario acertar resultados o ganadores. La simple intervención en el juego respetando las presentes bases y condiciones, y completando el formulario requerido, garantiza la participación en el sorteo por los premios establecidos.</p>
				  					<p>Podrá participar del sorteo todo ciudadano que sea mayor de 18 años y resida en la Ciudad Autónoma de Buenos Aires, República Argentina. Para poder hacerlo, deberá completar el formulario de inscripción indicado en el punto a) de las presentes Bases y Condiciones, el cual constituye una declaración jurada de que toda la información suministrada por el participante es fidedigna. Para acreditar debidamente el domicilio del participante, el Organizador podrá exigir mecanismos fehacientes, tales, como facturas, comprobantes de servicios, contratos, etc.</p>
				  					<p>Además de completar el formulario de inscripción antes mencionado, el participante deberá declarar el conocimiento y aceptación de las presentes Bases y Condiciones, las cuales podrán ser consultadas en forma libre y gratuita en la página de Internet del Organizador: <a href="http://www.buenosaires.gob.ar/votamundial" target="_blank">www.buenosaires.gob.ar/votamundial</a>.</p>
				  					<p>No podrán participar del concurso las personas que estén vinculadas a la organización del mismo o mantengan un vínculo contractual y/o laboral con las reparticiones intervinientes del Gobierno de la Ciudad de Buenos Aires.</p>
				  				</li>
					  			<li>
					  				<p>Vigencia</p>
					  				<p>El simulador estará habilitado para su utilización desde la publicación de las presentes Bases y Condiciones en el Boletín Oficial, hasta la hora 24 del día 13 de julio de 2014 inclusive. Durante este periodo  los participantes podrán participar del sorteo.</p>
					  			</li>
					  			<li>
					  				<p>Determinación de los ganadores - Premios</p>
					  				<p>El sorteo se realizará ante escribano público, dentro de los cinco (5) días hábiles de la finalización de la vigencia del simulador, mencionada en el apartado precedente. Se seleccionarán cinco (5) potenciales ganadores titulares y cinco (5) suplentes.</p>
					  				<p>Se entregarán un total de cinco (5) bicicletas, que serán provistas por la Dirección General de Movilidad Saludable dependiente de la Subsecretaría de Transporte de la Jefatura de Gabinete de Ministros, responsable del Programa “Ecobici”. </p>
					  
					  				<p>Cada Uno de los ganadores titulares que reúnan los requisitos establecidos en las presentes Bases y Condiciones, se hará acreedor de una (1) bicicleta cuyas características quedan sujetas a los modelos disponibles para el Organizador. </p>

					  				<p>En caso de que alguno de los titulares no reuniera los requisitos establecidos para resultar acreedor del premio o no se presentare a retirarlo dentro del plazo establecido al efecto, el premio se adjudicará al suplente dándosele prioridad en función del orden en que hubiere resultado sorteado.</p>
					  				<p>Los ganadores del concurso serán notificados por el Organizador dentro de los cinco (5) días de realizado el acto del sorteo ante escribano público, mediante correo electrónico a la dirección declarada en el formulario de inscripción previsto en el apartado a) precedente. A tal efecto, los participantes aceptan que la única forma de notificación a utilizar para este concurso sea el envío de un correo electrónico a la dirección declarada por ellos en el mencionado formulario. Por ende, el error en la consignación de estos datos correrá por exclusiva responsabilidad de los participantes.</p>
					  				<p>Los premios no incluyen ningún otro bien que no sea el expresamente mencionado en las presentes Bases y Condiciones. Los ganadores no podrán exigir el cambio de los premios por otros, ni su valor en dinero.Los gastos de cualquier naturaleza en que deban incurrir los participantes y/o ganadores para participar del concurso, y/o para retirar el premio, correrán por su exclusiva cuenta y cargo. </p>
					  				<p>Los premios objeto del presente concurso son intransferibles y quedan sujetos a la debida acreditación de la documentación requerida por el Organizador. Éste, pondrá a disposición de cada ganador el premio obtenido dentro de los treinta (30) días hábiles siguientes a la notificación de tal condición. Los ganadores deberán concurrir a la dirección que se les indique en la correspondiente notificación electrónica, junto con la documentación que acredite su identidad y su domicilio en la Ciudad de Buenos Aires. La acreditación del domicilio en la Ciudad de Buenos Aires, podrá hacerse mediante la presentación del correspondiente Documento Nacional de Identidad y/o mediante la exhibición de una factura de un servicio y/o boleta de un impuesto a nombre del participante.</p>
					  				<p>Para el supuesto de que todos o parte de los premios del concurso no pudieran ser adjudicados entre los ganadores titulares y/o suplentes por razones ajenas al Organizador, los mismos quedarán en poder de este último.</p>
					  
					  			<li>

					  		    	<p>Confidencialidad</p>
					  		    	<p>El Organizador se reserva el derecho de recopilar información personal de los participantes como parte del proceso de registración e información para el desarrollo del concurso, la que será utilizada conforme lo dispuesto por la Ley de Protección de Datos Personales N°1845 y sus normas reglamentarias y complementarias.</p>
					  		    	<p>Asimismo, el Organizador se reserva el derecho de difundir los nombres e imágenes de los ganadores del concurso, por los medios y formas de comunicación que crea conveniente, durante todo el tiempo que considere necesario y sin obligación de realizar compensación alguna. El nombre de los ganadores podrá ser publicado por el Organizador en su  página de Internet (www.buenosaires.gob.ar/votamundial) o por cualquier otro medio de difusión que éste considere conveniente.</p>
					  		    </li>
					  
					  			<li>
						  			<p>Responsabilidad</p>
					  				<p>La  participación en el concurso implica que el participante conoce y acepta en su totalidad las presentes Bases y Condiciones, como así también las modificaciones que pudiera realizar el Organizador, no generando dicho supuesto derecho a reclamo alguno.</p>
					  				<p>Cualquier instancia no prevista por las presentes Bases y Condiciones será resuelta por el Organizador, y los participantes se comprometen a acatar tales decisiones en forma inapelable.</p>
					  				<p>El Organizador se reserva el derecho de modificar los plazos y fechas dispuestos en el punto 4) así como también cualquier aspecto que a su criterio implique mejoras organizativas en el concurso y sus procedimientos. Asimismo, es facultad del Organizador cancelar o suspender total o parcialmente el concurso, sin que ello genere derecho a reclamo alguno a favor del/los participantes y/o ganadores.</p>
					  				<p>El organizador será el único que tendrá facultad de decisión respecto a toda situación no prevista en estas Bases y Condiciones y las resoluciones que adopte al respecto serán definitivas e inapelables.</p> </li>
				  			</ol>
				  		</li>
				  		<li>
			  			
			  			<p>PROPIEDAD INTELECTUAL</p>
			  			<p>El uso de las marcas, avisos, nombres comerciales, frases de propaganda, dibujos, diseños y logotipos son de propiedad exclusiva del Gobierno de la Ciudad de Buenos Aires, quedando estrictamente prohibido el uso o explotación por cualquier medio, sin su consentimiento previo y expreso.</p>
			  			</li>
				  		<li>
				  			<p>DOMICILIO Y JURISDICCIÓN COMPETENTE</p>
				  			<p>A todos los efectos legales derivados del uso de la herramienta del Simulador y de la participación en el concurso, el Organizador constituye domicilio en la Av. Rivadavia N°620, piso 5°, de esta Ciudad, a excepción de las notificaciones judiciales, que deberán cursarse en el domicilio de la Procuración General, departamento Cédulas y Oficios Judiciales, sito en Uruguay N° 458, de la Ciudad de Buenos Aires, conforme lo dispuesto por la Ley N° 1.218, el Decreto N° 804/GCBA/09 y sus modificatorios y la Resolución N° 77/PG/06. Asimismo, en caso de divergencia, los Participantes aceptan someterse a la jurisdicción y competencia de los Tribunales en lo Contencioso Administrativo y Tributario de la Ciudad Autónoma de Buenos Aires, con renuncia a cualquier otro fuero y jurisdicción que pudiera corresponderles.</p>
			  			</li>
					</ol>
			    </div>
			</div>
		</div>
	</div>
</div>

