<div ng-controller="ParticipasteCtrl">
	<div id="participaste">
		<div class="container">
		    <div class="row">
		        <div class="col-md-12">
		            <div class="content">

		            	<h1> ¡gracias<br> por participar! </h1>

		            	<div class="separador"> </div>

						<h2>Acabás de aprender a votar utilizando la mecánica de Boleta Única que se aplicará por primera vez en la Ciudad de Buenos Aires en las elecciones de 2015.</h2>


<iframe width="604" height="340" src="//www.youtube.com/embed/w4Tz_55kbH4?rel=0" frameborder="0" allowfullscreen></iframe>



						<h3><a href="http://www.buenosaires.gob.ar/gobierno/boletaunica" target="_blank">Quiero saber más acerca de Boleta Única.</a><h3>


		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>