mixin ogCards()
  <meta name="twitter:card" content="summary" />
  <meta property="fb:app_id" content="466061543818561" /> 
  <meta property="og:url" content="https://www.verizonwireless.com/streamline/">
  <meta property="og:type"  content="website" /> 
  <meta property="og:site_name" content="Verizon Streamline">
  <meta property="og:title" content="Turn wait time into stream time.">
  <meta property="og:description" content="Discover the mood of the city with dynamic playlists created in real-time.">
  <meta property="og:image" content="https://www.verizonwireless.com/streamline/assets/images/VZ_TakeBack_SocialShares_1200x620.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="620">
  <meta property="twitter:image" content="https://www.verizonwireless.com/streamline/assets/images/VZ_TakeBack_SocialShares_600x600.jpg">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Turn wait time into stream time." />
  <meta name="twitter:description" content="Discover the mood of the city with dynamic playlists created in real-time." />
  <meta name="twitter:image" content="https://www.verizonwireless.com/streamline/assets/images/VZ_TakeBack_SocialShares_600x600.jpg" />