<div class="etiqueta">Consumo Energético</div>
<div class="cell">
  <div class="big">
    <div id="aires" class="{{estados.aires}} datoGrande">{{consumo.aires}}
    	<div class="etiquetaTipoDeDato">watts
    		<div class="label">Aires</div>
    	</div>
    </div>
  </div>
  <div class="small">
    <div id="tomas" class="{{estados.tomas}} datoChico">{{consumo.tomas}}
    	<div class="etiquetaTipoDeDato">watts
    		<div class="label">Tomas</div>
    	</div>
  	</div>

    <div id="luces" class="{{estados.luces}} datoChico">{{consumo.luces}}
    	<div class="etiquetaTipoDeDato">watts
    		<div class="label">Luz</div>
    	</div>
	</div>
  </div>    
</div>