<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>Dashboard Cívico</title>
  </head>
  <body>
    <div id="content">
      <h1>PLAZA LEZAMA</h1>

      <div id="clima" class="widgetChico">
        <div class="cargando">
          <i class="fa fa-spinner fa-pulse fa-2x "></i><br>Cargando...
        </div>
      </div>
      <div id="estacionbici" class="widgetChico">
        <div class="cargando">
          <i class="fa fa-spinner fa-pulse fa-2x "></i><br>Cargando...
        </div>
     </div>
      
    </div>
  </body>
</html>