html, body{
	margin: 0;
	padding: 0;	
}

.container {
	width: 1078px;
	height:714px;
	margin: 0 auto;
	background: url("336x280.jpg") no-repeat;
}

.iframe_pos {
	width:337px;
	height:281px;
	border:0px;
	float:right;
	margin:8px 12px 0 0;
}

@media screen and (max-width: 1078px){
	.container {
		width: 715px;
		height:714px;
		margin: 0 auto;
		background: url("336x280_tablet.jpg") no-repeat;
	}
}

