block includes

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(href="https://respframework.verizon.com/vzrf/2-16-0/stylesheets/complete/vzrf.min-blessed1.css?z=1450274510218" rel="stylesheet" type="text/css")

    block title
    block styles

  body
    block components
    block scripts