mixin header()
  .header
    .logo#logo-track
      a(href='https://www.verizonwireless.com/' target='_blank')
        img(src='assets/svg/logo.svg')
    .share-bar.none
      #fb-root
      #url-text-share Copied
      #url-share.url-share(data-clipboard-text='http://vzw.com/streamline')
      a#twitter-share(href="https://twitter.com/intent/tweet?text=Turn%20wait%20time%20into%20stream%20time.%20Discover%20the%20mood%20of%20the%20city%20with%20dynamic%20playlists%20created%20in%20real-time.%20&tw_p=tweetbutton&url=https%3A%2F%2Fwww.verizonwireless.com%2Fstreamline" data-size="small")
      #facebook-share


