html, body{
	margin: 0;
	padding: 0;	
}

.container {
	width: 1078px;
	height:714px;
	margin: 0 auto;
	background: url("300x250.jpg") no-repeat;
}

.iframe_pos {
	width:300px;
	height:250px;
	border:0px;
	float:right;
	margin:9px 11px 0 0;
}

@media screen and (max-width: 1078px){
	.container {
		width: 715px;
		height:714px;
		margin: 0 auto;
		background: url("300x250_tablet.jpg") no-repeat;
	}
}
