mixin footer()
  #footer.alpha-0
    .bottom-title-area
      span NY living demands the best network.
    .cta-area
      .cta-text Mix and match the perfect<br>unlimited family plan
      .cta#cta-track
        a(href="https://www.verizonwireless.com/plans" target="_blank")
          .cta-button Learn More 